<p id="intro-page">
Ember Simple Auth is a lightweight library for implementing authentication with Ember.js applications.
</p>
<br>
{{input value= loginName placeholder='Login'}}<br>
{{input value= password placeholder='Password' type ='password'}}<br>
<button {{action 'authenticate'}}>Login</button>