{{! Handlebar is a template engine that ember uses }}

<p id="intro-page">
  EmberFire is the officially supported adapter for using Firebase with Ember Data. We created a simple task model and
   a comment model with a one-to-many asynchronuous relationship to demonstrate the easy-to-use data binding with ember data
   and handlebars.
</p>
<br>
<br>
{{outlet}}
